body {
  background-color: var(--clr-main-bg-dark-blue);

  font-family: var(--ff-primary);
  font-size: 1.3rem;
  color: var(--clr-light-1);

  display: grid;
  place-items: center;
}

.card {
  background-color: var(--clr-card-bg-desaturated-blue);
  max-width: 90%;
  text-align: center;
  display: grid;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
}

.content {
  order: 2;
  padding-inline: 10%;
  padding-block: 8%;

  display: grid;

  gap: 2.5rem;
}

.main-heading {
  color: var(--clr-light);
  font-size: 2.4rem;
  font-weight: var(--fw-bold);
  line-height: 1.25;
}

@media (min-width: 800px) {
  body {
    font-size: 1.5rem;
  }

  .main-heading {
    font-size: 3.4rem;
    line-height: 1.25;
  }

  .card {
    text-align: initial;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.value {
  color: var(--clr-light);
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.title {
  color: var(--clr-light-2);
  font-family: var(--ff-secondary);
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .stats {
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
    gap: 7rem;
  }
}

.main-heading span {
  color: var(--clr-violet-accent);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 800px) {
  .img-container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: hsl(var(--clr-violet-hsl), 0.5);
  }

  .img-container {
    order: 2;
  }
}
